$gainboro:			#DCDCDC
$lightgray:			#D3D3D3
$silver:			#C0C0C0
$darkgray:			#A9A9A9
$gray:				#808080
$dimgray:			#696969
$lightslategray:	#778899	
$slategray:			#708090
$darkslategray:		#2F4F4F
$black:				#000000